@model List<WebApplication1.Models.Usuario>

<h1> Usuarios</h1>

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="error-alert" class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}


<a asp-controller="Users"
   asp-action="FetchAndInsertUsers"
   class="btn btn-primary">
    Obtener usuarios
</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
@*             <th>Street</th>
            <th>Suite</th>
            <th>City</th>
            <th>Zipcode</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Company Name</th>
            <th>Catch Phrase</th>
            <th>Bs</th> *@
            <th>Actions</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@Html.DisplayFor(x => item.Username)</td>
                <td>@Html.DisplayFor(x => item.Email)</td>
                <td>@Html.DisplayFor(x => item.Phone)</td>
                <td>@Html.DisplayFor(x => item.Website)</td>
@*              <td>@Html.DisplayFor(x => item.Direccion.Street)</td>
                <td>@Html.DisplayFor(x => item.Direccion.Suite)</td>
                <td>@Html.DisplayFor(x => item.Direccion.City)</td>
                <td>@Html.DisplayFor(x => item.Direccion.Zipcode)</td>
                <td>@Html.DisplayFor(x => item.Direccion.Geo.Lat)</td>
                <td>@Html.DisplayFor(x => item.Direccion.Geo.Lng)</td>
                <td>@Html.DisplayFor(x => item.Compania.Name)</td>
                <td>@Html.DisplayFor(x => item.Compania.CatchPhrase)</td>
                <td>@Html.DisplayFor(x => item.Compania.Bs)</td> *@
                <td>
                    <a asp-controller="Users"
                       asp-action="Editar"
                       asp-route-id="@item.Id"
                       class="btn btn-primary">
                        Editar
                    </a>
                    <a asp-controller="Users"
                       asp-action="Eliminar"
                       asp-route-id="@item.Id"
                       onclick="return confirmarBorrado()"
                       class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>

        function confirmarBorrado() { 
            return confirm("Esta seguro de eliminar el usuario?");
        }

        // Metodo que recarga la página cada 10 minutos
        setTimeout(function () {
            location.reload();
        }, 600000);

        //Metodo que recarga la alerta de error de borrado
        setTimeout(function () {
            var alert = document.getElementById('error-alert');
            if (alert) {
                alert.remove();
            }
        }, 5000);

    </script>
}